body{
    background-image: url(https://images.unsplash.com/photo-1690537371861-8f047b7eaa21?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80);
    background-size: cover;
    
    opacity: 0.8;
}
h1{
    color: red;
}


h2{
    color: blue;
}
h2 p{
    color: yellow;
}
p{
    color: rgb(59, 199, 59);
}

#newpage{
    color: rgb(39, 183, 147);
    border:2px dashed black; 
}
.section>a{
    color: rgb(210, 136, 7);
    border: 2px solid;
    border-left-color: red;
    border-right-color: black;
    border-top-color: green;
    border-bottom-color: brown;
    border-radius: 25px;
}
a:hover{
    cursor: pointer;
}
span{
    color:white;
}
.image1{
    float: left;
}
.nav{
 display: block;
 margin: 0%;
 padding: 0%;
}

footer{
    color: red;
    border: 2px dashed black;
}
li{
    color: white;
}
a{
    color: white;
}


